.main-wrapper {
  max-width: 90%;
  margin: auto;
  min-height: 80vh;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  padding-left: 0;
}
.main__chatbody {
  flex-grow: 1;
  background-color: #f4f3f8;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
}

/* user chat window */
.user-window-wraper {
  flex: 2;
}
.user-window-wrapper {
  background: #f7f5f5;
  padding: 10px 10px;
}
.new-recent-chat {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.new-recent-chat > div {
  display: inline-block;
}
.recent-chats-heading {
  padding: 15px 10px 12px 10px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: lighter;
}

.new-chats-heading {
  padding: 0px 10px 12px 10px;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: lighter;
  margin-right: 20px;
}
.recent-chats {
  overflow-y: hidden;
  height: calc(100vh - calc(80vh / 2));
  overflow-x: auto;
}

.chat-thumb {
  display: flex;
  /* padding: 5px 5px; */
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  align-items: center;
}
.content {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.name {
  margin-left: 30px;
  font-size: 15px;
  columns: #000000;
  font-weight: 500;
  /* margin-bottom: 5px; */
  color: black;
}

/* message window */

.chat-window-wrapper {
  flex: 5;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.chat-content-empty {
  text-align: center;
}

/* message window header */
.chat-header {
  background: #f7f5f5;
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* cursor: pointer; */
}
.chat-info {
  display: flex;
  margin: 10px;
  /* margin-bottom: 10px; */
}
.name-last-seen {
  /* padding-top: 20px; */
  /* margin-left: 15px; */
  text-transform: capitalize;
  font-size: 20px;
}
.chat-wrapper {
  flex: 1;
}
.chat-content {
  height: 100%;
}
.chat-content-body {
  height: calc(100vh - 3.75rem - 4.75rem - 25px - 3.75rem - 4.75rem - 1.875rem);
  padding: 0.9375rem;
  overflow-y: auto;
}
/* messages */
.message-wrapper {
  display: flex;
}
.message {
  padding: 5px 8px;
  border-radius: 8px;
  margin-bottom: 3px;
  border: 1px solid #cccccc;
  font-size: 16px;
  background: rgb(0, 150, 255);
  color: white;
}
.sent {
  color: white;
  background: rgb(41, 87, 163);
  margin-left: auto;
}
.received {
  text-align: left;
}
/* input box */
.input-box {
  flex: 1;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  flex: 1;
  flex-direction: row;
  align-items: center;
}
