.mainHeader{
    background-color: rgb(41, 87, 163);
    /* height: 45px; */
    /* position: fixed;
    width: 100%; */
}
.displayName{
    font-size: larger;
    color: white;
    /* margin: 10px; */
}
